

 .form-container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .form-header {
            background-color: #4A90E2;
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
        }

        .form-grid {
            width: 100%;
            margin: 10px 0;
        }

        .table-header {
            background-color: #f8f9fa;
            font-weight: bold;
            text-align: center;
        }

        .btn-primary {
            background-color: #4A90E2;
            border-color: #4A90E2;
        }

        .btn-primary:hover {
            background-color: #357ABD;
            border-color: #357ABD;
        }

        .panel-grid div {
            margin-bottom: 10px;
        }

        

    .cheap {
        background-color: #54a90a !important;
        background-image: none !important;
        color: #ffffff !important;
    }

        
        
 .pendiente {
    background-color: #ffcccc; /* Rojo claro */
}
.devuelto {
    background-color: #ccffcc; /* Verde claro */
}       
        
        
        
        
        